* {
  border: none;
  margin: 0;
}

.containers {
  display: flex;
  flex-direction: row;

}

.navBar {
  min-height: 80vh;
  max-height: 100vh;
}

.mainContainer {
  width: 100%;
}

.postCard{
  border: solid black 1px;
    margin: 21px;
}

.createPostForm{
      margin: 20px;
    border: solid black 1px;
    padding: 25px
}

.postTag{
  margin: 0px 1px;
}
.loader{
      display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
}

.footer{
  position: relative;
    bottom: 0;
    margin-bottom: 0;
}

.postList{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}